@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-color: #1f242d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
  height: 70%;
  /* background-color: #323946; */
  border-radius: 10px;
  overflow: hidden;
}

.top {
  width: 100%;
  /* height: 15%; */
  text-align: center;
  padding: 10px 0;
}
h1 {
  text-transform: capitalize;
  font-size: 40px;
  color: #fff;
}
.bottom {
  width: 100%;
  /* height: calc(100% - 15%); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}
.items {
  width: 350px;
  /* height: 300px; */
  background-color: #323946;
  border-radius: 10px;
  text-align: center;
  padding: 20px 10px;
  border: 2px solid #323946;
  transition: 0.5s ease;
}
.items:hover {
  border-color: #0ef;
  transform: scale(1.02);
}

.items i {
  font-size: 30px;
  font-weight: 600;
  color: #0ef;
}
.items h3 {
  font-size: 23px;
  line-height: 28px;
  text-transform: capitalize;
  margin: 8px 0;
  color: #0ef;
}
.items p {
  font-size: 15px;
  font-weight: 300;
  color: #0ef;
}
button {
  font-size: 15px;
  padding: 7px 17px;
  background-color: #0ef;
  color: black;
  border: none;
  border-radius: 50px;
  margin: 15px 0;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 600;
}

@media (max-width: 1064px) {
  .container {
    width: 100%;
    height: auto;
  }
  .bottom {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 685px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .bottom {
    width: 100%;
    height: 100%;
  }
  .items {
    height: auto;
  }
}

@media (max-width: 500px) {
    .top h1{
        margin-bottom: 20px;
    }
  .container {
    width: 100%;
    height: 100%;
  }
  .bottom {
    flex-direction: column;
    width: 100%;
    /* height: 100%; */
  }
}
